.info-list {
    padding: 10px;
    box-sizing: border-box;
}

.info-list-item {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    height: 35px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-color: white;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.info-table {
    border-spacing: 10px;
    max-width: 960px;
}

.info-table tr {
    background-color: white;
}

.td-info {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

td.td-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    padding: 10px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.off-ip {
    background-color: rgb(255, 190, 190);
}

.on-ip {
    background-color: rgb(218, 255, 162)
}

@media (max-width: 576px) {
    .td-info {
        font-weight: 300;
        font-size: 15px;
        padding: 5px;
    }
    
    td.td-name {
        font-weight: 400;
        font-size: 15px;
        white-space: normal;
        padding: 5px;
    }
}