.phone-container {
    display: flex;
    flex-direction: column;
}


.phone-button {
    margin-top: 20px;
    text-decoration: none;
    height: 40px;
    width: 180px;
    line-height: 40px;
    background-color: rgb(19, 121, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    transition: 0.3s;
}

.phone-button:hover {
    background-color: rgb(14, 92, 194);
    transition: 0.3s;
}

.phone-div {
    display: flex;
    margin-top: 20px;
    height: 40px;
    align-items: center;
}

#phone-number {
    margin-top: 0;
    margin-left: 10px;
    outline: none;
    border-radius: 0;
    border: 1px solid silver;
    height: 30px;
    
}

#phone-number:focus {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    
}

.phone-div label {
    font-family: 'Roboto', sans-serif;
}